.DS_Store
target/classes/*
target/logs/*
target/test-reports/*
target/test-classes/*
target/stacktrace.log
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/**/*
.idea/*
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
out/
grails-*.zip
*.sha1
plugin.xml
test/**/cobertura.ser
test/**/release_info.groovy
test/**/release_info.groovy.old
plugin.xml
*.ser
messages_ar_SA.properties
*.gradle
